# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.env

# Streamlit cache
.streamlit/

# OS files
.DS_Store
Thumbs.db

# Jupyter / notebooks
.ipynb_checkpoints/

# FAISS index (if created later)
*.index

notebooks/
notebooks/model_training.ipynb

.ipynb_checkpoints/